<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Creating New Listing :</h3>
      <br /><br />
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title] "
            placeholder="Add a catchy title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <!-- image -->

        <!-- Mam image -->
        <!-- <div class="mb-3">
          <label for="image" class="form-label">Image link</label>
          <input
            type="text"
            name="listing[image]"
            placeholder="Enter image URL/Link"
            class="form-control"
          />
        </div> -->

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            name="listing[image][url]"
            type="file"
            class="form-control"
            value="https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="1200"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              placeholder="India"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="Muzaffarpur, Bihar"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
      </form>
    </div>
  </div>
</body>
